@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

input:focus,textarea:focus{
  outline: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.body {
  background-color: #FFEBEE;
  justify-content: center;
  width: 100%;
  padding-bottom: 60px;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #FFF;
  justify-content: center;
  margin-bottom: 40px;
  padding: 20px;
  width: 100%;
}

.section {
  width: 600px;
}

.header-actions {
}

.header-actions input {
  width: 300px;
  height: 30px;
}

.search-bar input {
  border: none;
  background-color: #D32F2F;
  padding: 15px;
  border-radius: 30px;
  color: white;
}

.card {
  background-color: #FFF;
  border-radius: 30px;
  justify-content: center;
  box-shadow: 0px 60px 120px rgba(0, 0, 0, 0.3);
}

.card-header {
  padding: 15px;
}

.card-title h1,
.card-title h2,
.card-title h3,
.card-title h4,
.card-title h5,
.card-title h6 {
  justify-content: center;
  text-align: center;
}

.card-content img {
  max-height: 600px;
  max-width: 600px;
}

.avatar img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.card-footer {
  justify-content: center;
  padding-bottom: 60px;
}

button.like {
  width: 140px;
  height: 45px;
  background-color: #D32F2F;
  line-height: 45px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  vertical-align: auto;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 20px;
}

button.like:hover {
  background-color: #D32F2F;
  box-shadow: 0px 15px 20px #B71C1C;
  color: #fff;
  transform: translateY(-4px);
}

.card-footer-comment {
  justify-content: center;
}

textarea.comment {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #D32F2F;
  color: #D32F2F;
  font-size: 27px;
  height: 30px;
  resize: none;
  width: 580px;
}